In [56]:
import os
import xml.etree.ElementTree as ET
import re
import shutil

os.getcwd()

origen = 'C:/Users/USUARIO/Desktop/Adalab/Proyectos/data.xml.xml' 
datos_limpios_xml = './ficheros_limpios'
archivo = os.path.basename(origen)
print(os.getcwd())

# Con este código comprobamos si el archivo se encuentra en el directorio correcto
try:
    origen in os.listdir()
    print('Tu archivo está en el directorio correcto')
except:
    print('Tu archivo no está en el directorio correcto. Por favor, trasládalo a:', os.getcwd())

# Creamos la carpeta ficheros_limpios donde trasladaremos los archivos .xml que estén limpios
try:
    os.mkdir(datos_limpios_xml)
    print('La carpeta ficheros_limpios ha sido creada. Por favor, utilízala en el futuro para guardar tus archivos .xml limpios')
except:
    print('La carpeta ficheros_limpios ya está creada. Aqui se guardaran tus archivos .xml limpios')

tree = ET.parse('data_xml.xml')
root = tree.getroot()


print("Iniciamos la limpieza de su archivo formato xml, asignaremos la variable Género correctamente")


for child in root:
    for subchild in child:
        if subchild.tag == "gender":
            if subchild.text == "0":
                subchild.text == "Man"
            elif subchild.text == "1":
                subchild.text == "Woman"
            elif subchild.text == "2":
                subchild.text == "Nonbinary"
            elif subchild.text == "3":
                subchild.text == "Prefer not to say"
            elif subchild.text == "4":
                subchild.text == "Prefer to self describe"
tree.write('data_xml.xml')  


print("el archivo ha sido limpiado correctamente")

for child in root:
    print(child.tag, child.text)
    for subchild in child:
        print( "    ", subchild.tag, subchild.text)
        #if subchild.tag == "gender":
            #print( "       ", subchild.tag, subchild.text)

c:\Users\USUARIO\Desktop\Adalab\Proyectos
Tu archivo está en el directorio correcto
La carpeta ficheros_limpios ya está creada. Aqui se guardaran tus archivos .xml limpios
Iniciamos la limpieza de su archivo formato xml, asignaremos la variable Género correctamente
el archivo ha sido limpiado correctamente
row

     level_0 0
     index 0
     time 910
     age 50-54
     gender Man
row

     level_0 1
     index 1
     time 784
     age 50-54
     gender Man
row

     level_0 2
     index 2
     time 924
     age 22-24
     gender Man
row

     level_0 3
     index 3
     time 575
     age 45-49
     gender Man
row

     level_0 4
     index 4
     time 781
     age 45-49
     gender Man
row

     level_0 5
     index 5
     time 1020
     age 25-29
     gender 1
row

     level_0 6
     index 6
     time 141
     age 18-21
     gender 1
row

     level_0 7
     index 7
     time 484
     age 30-34
     gender Man
row

     level_0 8
     index 8
     time 1744
     age 22-24
     gender Man
row

     level_0 9
     index 9
     time 655
     age 30-34
     gender Man
row

     level_0 10
     index 10
     time 1777
     age 40-44
     gender Man
row

     level_0 11
     index 11
     time 3081
     age 18-21
     gender 1
row

     level_0 12
     index 12
     time 1922
     age 18-21
     gender 1
row

     level_0 13
     index 13
     time 852
     age 45-49
     gender Man
row

     level_0 14
     index 14
     time 838
     age 22-24
     gender Man
row

     level_0 15
     index 15
     time 563
     age 35-39
     gender Man
row

     level_0 16
     index 16
     time 1315
     age 50-54
     gender Man
row

     level_0 17
     index 17
     time 479
     age 18-21
     gender Man
row

     level_0 18
     index 18
     time 249
     age 22-24
     gender Man
row

     level_0 19
     index 19
     time 650
     age 30-34
     gender Man
row

     level_0 20
     index 20
     time 1461
     age 70+
     gender Man
row

     level_0 21
     index 21
     time 551
     age 25-29
     gender 1
row

     level_0 22
     index 22
     time 258
     age 30-34
     gender Man
row

     level_0 23
     index 23
     time 773
     age 35-39
     gender Man
row

     level_0 24
     index 24
     time 630
     age 18-21
     gender Man
row

     level_0 25
     index 25
     time 2467
     age 25-29
     gender 1
row

     level_0 26
     index 26
     time 7750
     age 45-49
     gender Man
row

     level_0 27
     index 27
     time 607
     age 22-24
     gender Man
row

     level_0 28
     index 28
     time 525
     age 22-24
     gender 1
row

     level_0 29
     index 29
     time 501
     age 18-21
     gender Man
row

     level_0 30
     index 30
     time 415
     age 22-24
     gender Man
row

     level_0 31
     index 31
     time 317
     age 30-34
     gender Man
row

     level_0 32
     index 32
     time 171
     age 22-24
     gender 2
row

     level_0 33
     index 33
     time 744
     age 30-34
     gender 1
row

     level_0 34
     index 34
     time 668
     age 22-24
     gender Man
row

     level_0 35
     index 35
     time 460
     age 30-34
     gender 1
row

     level_0 36
     index 36
     time 244
     age 25-29
     gender 1
row

     level_0 37
     index 37
     time 901
     age 30-34
     gender Man
row

     level_0 38
     index 38
     time 625
     age 22-24
     gender Man
row

     level_0 39
     index 39
     time 1239
     age 18-21
     gender Man
row

     level_0 40
     index 40
     time 229993
     age 25-29
     gender Man
row

     level_0 41
     index 41
     time 312
     age 25-29
     gender Man
row

     level_0 42
     index 42
     time 976
     age 55-59
     gender Man
row

     level_0 43
     index 43
     time 1890
     age 30-34
     gender 1
row

     level_0 44
     index 44
     time 357
     age 18-21
     gender Man
row

     level_0 45
     index 45
     time 660
     age 40-44
     gender Man
row

     level_0 46
     index 46
     time 1524
     age 22-24
     gender Man
row

     level_0 47
     index 47
     time 453
     age 18-21
     gender 1
row

     level_0 48
     index 48
     time 793
     age 25-29
     gender Man
row

     level_0 49
     index 49
     time 557
     age 30-34
     gender 1
row

     level_0 50
     index 50
     time 5215
     age 25-29
     gender Man
row

     level_0 51
     index 51
     time 483
     age 40-44
     gender Man
row

     level_0 52
     index 52
     time 866
     age 40-44
     gender Man
row

     level_0 53
     index 53
     time 1045
     age 40-44
     gender Man
row

     level_0 54
     index 54
     time 359
     age 30-34
     gender Man
row

     level_0 55
     index 55
     time 1006
     age 22-24
     gender 1
row

     level_0 56
     index 56
     time 95756
     age 30-34
     gender 1
row

     level_0 57
     index 57
     time 642
     age 35-39
     gender 1
row

     level_0 58
     index 58
     time 528
     age 18-21
     gender Man
row

     level_0 59
     index 59
     time 1093
     age 35-39
     gender Man
row

     level_0 60
     index 60
     time 565
     age 18-21
     gender Man
row

     level_0 61
     index 61
     time 405
     age 18-21
     gender Man
row

     level_0 62
     index 62
     time 872
     age 30-34
     gender Man
row

     level_0 63
     index 63
     time 434
     age 18-21
     gender Man
row

     level_0 64
     index 64
     time 419
     age 18-21
     gender Man
row

     level_0 65
     index 65
     time 1479
     age 40-44
     gender Man
row

     level_0 66
     index 66
     time 665
     age 30-34
     gender 3
row

     level_0 67
     index 67
     time 1073
     age 30-34
     gender Man
row

     level_0 68
     index 68
     time 626
     age 35-39
     gender Man
row

     level_0 69
     index 69
     time 743
     age 40-44
     gender Man
row

     level_0 70
     index 70
     time 854
     age 25-29
     gender Man
row

     level_0 71
     index 71
     time 767
     age 22-24
     gender Man
row

     level_0 72
     index 72
     time 4971
     age 30-34
     gender 1
row

     level_0 73
     index 73
     time 560
     age 45-49
     gender Man
row

     level_0 74
     index 74
     time 2399
     age 22-24
     gender Man
row

     level_0 75
     index 75
     time 786
     age 40-44
     gender Man
row

     level_0 76
     index 76
     time 1293
     age 50-54
     gender Man
row

     level_0 77
     index 77
     time 395
     age 22-24
     gender Man
row

     level_0 78
     index 78
     time 555
     age 25-29
     gender Man
row

     level_0 79
     index 79
     time 77678
     age 22-24
     gender Man
row

     level_0 80
     index 80
     time 1643
     age 35-39
     gender Man
row

     level_0 81
     index 81
     time 3454
     age 30-34
     gender Man
row

     level_0 82
     index 82
     time 986
     age 30-34
     gender Man
row

     level_0 83
     index 83
     time 1062
     age 18-21
     gender Man
row

     level_0 84
     index 84
     time 161
     age 25-29
     gender Man
row

     level_0 85
     index 85
     time 648
     age 22-24
     gender Man
row

     level_0 86
     index 86
     time 432
     age 25-29
     gender Man
row

     level_0 87
     index 87
     time 508
     age 25-29
     gender Man
row

     level_0 88
     index 88
     time 463
     age 25-29
     gender 1
row

     level_0 89
     index 89
     time 642
     age 55-59
     gender Man
row

     level_0 90
     index 90
     time 50748
     age 25-29
     gender 1
row

     level_0 91
     index 91
     time 674
     age 30-34
     gender Man
row

     level_0 92
     index 92
     time 548
     age 22-24
     gender Man
row

     level_0 93
     index 93
     time 750
     age 55-59
     gender Man
row

     level_0 94
     index 94
     time 532
     age 18-21
     gender Man
row

     level_0 95
     index 95
     time 1423
     age 30-34
     gender Man
row

     level_0 96
     index 96
     time 661
     age 25-29
     gender Man
row

     level_0 97
     index 97
     time 638
     age 40-44
     gender Man
row

     level_0 98
     index 98
     time 585
     age 22-24
     gender Man
row

     level_0 99
     index 99
     time 370
     age 22-24
     gender Man
row

     level_0 100
     index 100
     time 174
     age 18-21
     gender 1
row

     level_0 101
     index 101
     time 294
     age 25-29
     gender Man
row

     level_0 102
     index 102
     time 681
     age 22-24
     gender Man
row

     level_0 103
     index 103
     time 444
     age 25-29
     gender Man
row

     level_0 104
     index 104
     time 543
     age 40-44
     gender 1
row

     level_0 105
     index 105
     time 824
     age 35-39
     gender Man
row

     level_0 106
     index 106
     time 3455
     age 30-34
     gender Man
row

     level_0 107
     index 107
     time 728
     age 55-59
     gender Man
row

     level_0 108
     index 108
     time 3097
     age 40-44
     gender Man
row

     level_0 109
     index 109
     time 531
     age 22-24
     gender Man
row

     level_0 110
     index 110
     time 699
     age 18-21
     gender Man
row

     level_0 111
     index 111
     time 378
     age 22-24
     gender 1
row

     level_0 112
     index 112
     time 2932
     age 45-49
     gender Man
row

     level_0 113
     index 113
     time 584
     age 30-34
     gender 1
row

     level_0 114
     index 114
     time 205
     age 18-21
     gender Man
row

     level_0 115
     index 115
     time 1050
     age 60-69
     gender Man
row

     level_0 116
     index 116
     time 61432
     age 25-29
     gender Man
row

     level_0 117
     index 117
     time 445
     age 40-44
     gender Man
row

     level_0 118
     index 118
     time 918
     age 18-21
     gender 1
row

     level_0 119
     index 119
     time 798
     age 35-39
     gender Man
row

     level_0 120
     index 120
     time 131
     age 18-21
     gender Man
row

     level_0 121
     index 121
     time 735
     age 70+
     gender Man
row

     level_0 122
     index 122
     time 654
     age 40-44
     gender Man
row

     level_0 123
     index 123
     time 2770
     age 30-34
     gender Man
row

     level_0 124
     index 124
     time 1533
     age 60-69
     gender Man
row

     level_0 125
     index 125
     time 2885
     age 25-29
     gender Man
row

     level_0 126
     index 126
     time 1730
     age 40-44
     gender Man
row

     level_0 127
     index 127
     time 379
     age 40-44
     gender 1
row

     level_0 128
     index 128
     time 763
     age 22-24
     gender Man
row

     level_0 129
     index 129
     time 694
     age 30-34
     gender Man
row

     level_0 130
     index 130
     time 776
     age 45-49
     gender Man
row

     level_0 131
     index 131
     time 737
     age 18-21
     gender Man
row

     level_0 132
     index 132
     time 514
     age 25-29
     gender Man
row

     level_0 133
     index 133
     time 647
     age 35-39
     gender Man
row

     level_0 134
     index 134
     time 386
     age 25-29
     gender Man
row

     level_0 135
     index 135
     time 2048
     age 30-34
     gender 1
row

     level_0 136
     index 136
     time 43508
     age 18-21
     gender 1
row

     level_0 137
     index 137
     time 401
     age 18-21
     gender Man
row

     level_0 138
     index 138
     time 682
     age 25-29
     gender 1
row

     level_0 139
     index 139
     time 753
     age 40-44
     gender Man
row

     level_0 140
     index 140
     time 352
     age 18-21
     gender Man
row

     level_0 141
     index 141
     time 566
     age 25-29
     gender Man
row

     level_0 142
     index 142
     time 1813
     age 30-34
     gender Man
row

     level_0 143
     index 143
     time 435
     age 25-29
     gender Man
row

     level_0 144
     index 144
     time 986
     age 35-39
     gender Man
row

     level_0 145
     index 145
     time 366
     age 18-21
     gender Man
row

     level_0 146
     index 146
     time 776
     age 40-44
     gender Man
row

     level_0 147
     index 147
     time 340
     age 22-24
     gender Man
row

     level_0 148
     index 148
     time 339
     age 30-34
     gender 1
row

     level_0 149
     index 149
     time 436
     age 25-29
     gender Man
row

     level_0 150
     index 150
     time 744
     age 70+
     gender 1
row

     level_0 151
     index 151
     time 895
     age 22-24
     gender 1
row

     level_0 152
     index 152
     time 79172
     age 18-21
     gender Man
row

     level_0 153
     index 153
     time 502
     age 22-24
     gender Man
row

     level_0 154
     index 154
     time 267
     age 18-21
     gender 1
row

     level_0 155
     index 155
     time 516
     age 30-34
     gender Man
row

     level_0 156
     index 156
     time 427
     age 22-24
     gender 1
row

     level_0 157
     index 157
     time 985
     age 22-24
     gender Man
row

     level_0 158
     index 158
     time 610
     age 30-34
     gender Man
row

     level_0 159
     index 159
     time 304
     age 22-24
     gender 1
row

     level_0 160
     index 160
     time 12878
     age 50-54
     gender Man
row

     level_0 161
     index 161
     time 526
     age 60-69
     gender Man
row

     level_0 162
     index 162
     time 1068
     age 30-34
     gender Man
row

     level_0 163
     index 163
     time 404
     age 22-24
     gender 1
row

     level_0 164
     index 164
     time 280
     age 50-54
     gender Man
row

     level_0 165
     index 165
     time 904
     age 25-29
     gender Man
row

     level_0 166
     index 166
     time 1565
     age 22-24
     gender Man
row

     level_0 167
     index 167
     time 3089
     age 45-49
     gender Man
row

     level_0 168
     index 168
     time 447
     age 22-24
     gender Man
row

     level_0 169
     index 169
     time 460
     age 35-39
     gender Man
row

     level_0 170
     index 170
     time 1846
     age 60-69
     gender Man
row

     level_0 171
     index 171
     time 980
     age 22-24
     gender Man
row

     level_0 172
     index 172
     time 660
     age 30-34
     gender Man
row

     level_0 173
     index 173
     time 937
     age 40-44
     gender Man
row

     level_0 174
     index 174
     time 476
     age 18-21
     gender Man
row

     level_0 175
     index 175
     time 553
     age 40-44
     gender 1
row

     level_0 176
     index 176
     time 412
     age 30-34
     gender Man
row

     level_0 177
     index 177
     time 324
     age 35-39
     gender Man
row

     level_0 178
     index 178
     time 1894
     age 22-24
     gender 1
row

     level_0 179
     index 179
     time 1762
     age 25-29
     gender Man
row

     level_0 180
     index 180
     time 866
     age 22-24
     gender Man
row

     level_0 181
     index 181
     time 24380
     age 18-21
     gender Man
row

     level_0 182
     index 182
     time 738
     age 22-24
     gender 1
row

     level_0 183
     index 183
     time 2032
     age 35-39
     gender Man
row

     level_0 184
     index 184
     time 2084
     age 30-34
     gender Man
row

     level_0 185
     index 185
     time 698
     age 18-21
     gender Man
row

     level_0 186
     index 186
     time 574
     age 35-39
     gender Man
row

     level_0 187
     index 187
     time 778
     age 60-69
     gender Man
row

     level_0 188
     index 188
     time 493
     age 30-34
     gender Man
row

     level_0 189
     index 189
     time 337
     age 30-34
     gender Man
row

     level_0 190
     index 190
     time 406
     age 40-44
     gender Man
row

     level_0 191
     index 191
     time 1677
     age 55-59
     gender Man
row

     level_0 192
     index 192
     time 348
     age 18-21
     gender Man
row

     level_0 193
     index 193
     time 536
     age 30-34
     gender 1
row

     level_0 194
     index 194
     time 186
     age 40-44
     gender Man
row

     level_0 195
     index 195
     time 354
     age 35-39
     gender Man
row

     level_0 196
     index 196
     time 375
     age 22-24
     gender 1
row

     level_0 197
     index 197
     time 677
     age 40-44
     gender Man
row

     level_0 198
     index 198
     time 456
     age 25-29
     gender Man
row

     level_0 199
     index 199
     time 916
     age 25-29
     gender Man
row

     level_0 200
     index 200
     time 571
     age 30-34
     gender Man
row

     level_0 201
     index 201
     time 720
     age 30-34
     gender Man
row

     level_0 202
     index 202
     time 539
     age 22-24
     gender Man
row

     level_0 203
     index 203
     time 1346
     age 30-34
     gender Man
row

     level_0 204
     index 204
     time 338
     age 22-24
     gender Man
row

     level_0 205
     index 205
     time 307
     age 30-34
     gender Man
row

     level_0 206
     index 206
     time 288
     age 18-21
     gender Man
row

     level_0 207
     index 207
     time 501
     age 22-24
     gender Man
row

     level_0 208
     index 208
     time 2331
     age 18-21
     gender Man
row

     level_0 209
     index 209
     time 3237
     age 45-49
     gender Man
row

     level_0 210
     index 210
     time 531
     age 35-39
     gender Man
row

     level_0 211
     index 211
     time 586
     age 30-34
     gender 2
row

     level_0 212
     index 212
     time 12370
     age 55-59
     gender Man
row

     level_0 213
     index 213
     time 1233
     age 18-21
     gender 1
row

     level_0 214
     index 214
     time 697
     age 18-21
     gender Man
row

     level_0 215
     index 215
     time 578
     age 35-39
     gender 1
row

     level_0 216
     index 216
     time 572
     age 30-34
     gender Man
row

     level_0 217
     index 217
     time 224
     age 18-21
     gender 3
row

     level_0 218
     index 218
     time 646
     age 30-34
     gender Man
row

     level_0 219
     index 219
     time 794
     age 18-21
     gender 1
row

     level_0 220
     index 220
     time 815
     age 30-34
     gender Man
row

     level_0 221
     index 221
     time 591
     age 60-69
     gender Man
row

     level_0 222
     index 222
     time 699
     age 35-39
     gender Man
row

     level_0 223
     index 223
     time 1124
     age 70+
     gender Man
row

     level_0 224
     index 224
     time 520
     age 18-21
     gender Man
row

     level_0 225
     index 225
     time 504
     age 45-49
     gender Man
row

     level_0 226
     index 226
     time 669
     age 18-21
     gender Man
row

     level_0 227
     index 227
     time 3042
     age 25-29
     gender 1
row

     level_0 228
     index 228
     time 982
     age 25-29
     gender Man
row

     level_0 229
     index 229
     time 613
     age 25-29
     gender Man
row

     level_0 230
     index 230
     time 798
     age 22-24
     gender Man
row

     level_0 231
     index 231
     time 875
     age 22-24
     gender Man
row

     level_0 232
     index 232
     time 307
     age 55-59
     gender 1
row

     level_0 233
     index 233
     time 4131
     age 25-29
     gender Man
row

     level_0 234
     index 234
     time 601
     age 50-54
     gender Man
row

     level_0 235
     index 235
     time 1341
     age 22-24
     gender Man
row

     level_0 236
     index 236
     time 612
     age 18-21
     gender 1
row

     level_0 237
     index 237
     time 275
     age 45-49
     gender Man
row

     level_0 238
     index 238
     time 1128
     age 25-29
     gender Man
row

     level_0 239
     index 239
     time 961
     age 50-54
     gender Man
row

     level_0 240
     index 240
     time 290
     age 30-34
     gender Man
row

     level_0 241
     index 241
     time 627
     age 30-34
     gender 1
row

     level_0 242
     index 242
     time 1348
     age 40-44
     gender Man
row


KeyboardInterrupt:

In [53]:
for child in root:
    for subchild in child:
        if subchild.tag == "gender":
            if subchild.text == "1":
                subchild.text == "Woman"
            else: 
                pass

tree.write('data_xml.xml')  


print("el archivo ha sido limpiado correctamente")

for child in root:
    for subchild in child:
        if subchild.tag == "gender":
            print(subchild.text)

el archivo ha sido limpiado correctamente
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
1
Man
Man
Man
2
1
Man
1
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
1
1
1
Man
Man
Man
Man
Man
Man
Man
Man
3
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
1
Man
Man
1
Man
1
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
2
Man
1
Man
1
Man
3
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
1
1
Man
1
1
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
1
3
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
1
Man
1
Man
Man
1
1
Man
Man
Man
Man
1
Man
Man
Man
1
3
1
Man
1
Man
Man
2
1
1
Man
Man
1
Man
Man
Man
1
1
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
1
Man
Man
Man
1
3
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
1
1
Man
Man
1
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
3
Man
Man
Man
1
1
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
4
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
1
Man
1
Man
Man
Man
3
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
1
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
1
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
1
1
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
3
Man
Man
1
1
Man
1
Man
Man
Man
Man
Man
Man
3
1
Man
Man
Man
Man
1
1
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
1
1
Man
Man
1
1
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
3
Man
Man
1
Man
3
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
1
Man
Man
1
1
1
Man
Man
Man
Man
Man
3
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
1
Man
Man
1
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
1
Man
1
Man
Man
1
Man
Man
Man
1
Man
1
Man
Man
Man
Man
1
Man
1
Man
Man
1
Man
Man
1
Man
Man
Man
Man
1
Man
1
Man
1
Man
Man
Man
Man
1
1
Man
1
Man
1
1
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
1
1
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
1
1
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
1
1
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
1
1
Man
1
Man
Man
1
Man
Man
1
Man
1
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
3
Man
1
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
1
Man
1
2
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
1
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
3
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
1
2
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
1
Man
Man
1
Man
Man
Man
1
1
Man
Man
Man
1
Man
Man
Man
Man
Man
1
1
3
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
1
1
Man
1
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
1
Man
1
Man
1
Man
Man
Man
Man
Man
1
Man
2
Man
1
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
1
Man
1
1
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
1
Man
Man
1
Man
1
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
2
1
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
2
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
2
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
1
Man
Man
Man
1
Man
Man
1
Man
1
Man
Man
1
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
1
Man
1
Man
Man
1
1
2
Man
1
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
3
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
1
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
1
Man
Man
Man
1
Man
Man
Man
1
3
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
3
Man
Man
Man
1
1
1
Man
Man
Man
1
Man
1
Man
Man
3
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
1
Man
3
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
3
1
1
Man
Man
Man
1
Man
1
Man
Man
Man
1
1
Man
1
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
1
3
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
1
3
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
3
1
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
1
Man
Man
Man
Man
1
1
1
Man
1
1
Man
Man
Man
1
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
3
Man
1
Man
1
Man
Man
Man
Man
1
1
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
2
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
4
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
1
1
3
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
2
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
3
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
1
Man
Man
3
1
Man
1
Man
Man
Man
Man
1
Man
3
Man
Man
Man
Man
Man
Man
3
1
Man
3
Man
Man
Man
Man
1
1
Man
Man
Man
1
Man
Man
1
3
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
1
Man
1
Man
3
Man
1
Man
1
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
4
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
3
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
3
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
1
Man
1
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
1
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
1
1
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
1
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
3
Man
Man
Man
Man
Man
Man
Man
3
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
3
Man
1
1
Man
Man
Man
Man
1
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
4
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
1
Man
1
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
1
Man
1
Man
Man
Man
2
1
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
1
Man
Man
1
1
Man
Man
Man
1
Man
Man
1
1
Man
Man
Man
4
Man
Man
3
Man
Man
2
Man
1
Man
2
3
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
1
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
3
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
4
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
1
Man
1
Man
Man
1
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
3
1
Man
Man
Man
Man
Man
Man
Man
1
1
Man
1
Man
Man
Man
Man
4
Man
Man
Man
Man
Man
Man
Man
Man
Man
3
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
1
1
Man
Man
Man
Man
Man
2
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
1
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
2
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
1
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
1
Man
Man
Man
2
Man
1
Man
2
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
3
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
3
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
4
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
1
Man
Man
1
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
3
Man
Man
Man
1
Man
1
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
1
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
1
Man
Man
1
3
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
1
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
3
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
3
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
Man
1
1
Man
Man
Man
Man
Man
1
Man
1
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
1
1
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
1
1
Man
1
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
1
Man
Man
1
1
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
1
3
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
3
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
1
1
1
1
Man
Man
Man
1
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
1
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
1
1
Man
1
Man
Man
Man
Man
Man
3
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
1
1
Man
Man
Man
1
Man
1
1
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
1
1
3
Man
Man
1
Man
1
1
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
1
Man
Man
Man
1
1
Man
1
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
1
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
2
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
3
Man
Man
1
Man
Man
Man
Man
Man
1
1
Man
Man
Man
Man
1
1
1
Man
Man
Man
Man
Man
1
2
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
1
Man
1
1
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
3
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
1
Man
1
1
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
3
1
Man
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
1
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
3
Man
Man
1
Man
1
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
1
Man
Man
1
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
1
Man
1
Man
1
Man
1
Man
Man
1
1
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
3
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
1
1
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
1
Man
1
Man
1
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
3
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
1
1
3
Man
1
Man
Man
Man
Man
Man
Man
Man
1
1
1
Man
1
Man
Man
Man
1
Man
Man
Man
Man
1
1
Man
Man
Man
Man
Man
Man
1
Man
1
Man
1
1
Man
Man
1
Man
1
Man
Man
Man
1
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
1
1
1
1
1
1
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
1
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
1
Man
Man
1
Man
Man
Man
1
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
3
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
1
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
1
1
Man
Man
Man
1
Man
Man
Man
1
Man
Man
Man
3
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
2
1
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
Man
Man
1
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
Man
1
1
Man
1