In [ ]:
import mysql.connector
import pandas as pd

#Aqui nos muestra los datos de las tablas (columnas y filas)
mydbs = mysql.connector.connect(user='root', database='dataSQL', password='AlumnaAdalab')
mycursor = mydbs.cursor()

query = ("SELECT * FROM data_sql")        
mycursor.execute(query)

myresult = mycursor.fetchone() # me enseña todos los resultado de la query OJO! Si pongo fetchall() me enseña todo y es mucho PC PUMM
while myresult != None:
    print(myresult)

In [10]:
#Aqui se llama a pandas y se tienen los resultados tipo tabla ordenado
sql = "SELECT * FROM data_sql LIMIT 20"
df_datasql = pd.DataFrame(myresult)
print(df_datasql)

#df_datasql.to_csv('ejercicio3.csv',sep=';') -- !!!!Aqui se guarda el archivo seleccionado como CVS si lo selecciono

   0                  1                2      3      4      5      6      7   \
0   0              ERROR  Colab Notebooks  ERROR  ERROR  ERROR  ERROR  ERROR
1   1   Kaggle Notebooks  Colab Notebooks  ERROR  ERROR  ERROR  ERROR  ERROR

      8      9      10     11     12     13     14     15     16     17
0  ERROR  ERROR  ERROR  ERROR  ERROR  ERROR  ERROR  ERROR  ERROR  ERROR
1  ERROR  ERROR  ERROR  ERROR  ERROR  ERROR  ERROR  ERROR  ERROR  ERROR

In [ ]:
#Aqui se puede cambiar los datos de las filas de las columnas que queramos: FUNCIONA COMPROBADO EN WORKBENCH

mydbs = mysql.connector.connect(user='root', database='dataSQL', password='AlumnaAdalab')
mycursor = mydbs.cursor()


sql = "UPDATE data_sql SET Q10_Part_2 = 'NULL' WHERE Q10_Part_2 = 'ERROR'"
try:
    mycursor.execute(sql)
    mydbs.commit()
    print(mycursor.rowcount, "registro/s modificado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

mycursor.execute("SELECT * FROM data_sql")  
results = mycursor.fetchall()
#print(results)

In [ ]:

#Aqui se pueden eiminar una tabla NO EJECUTAR QUE SE BORRA TODO, cuidado
mycursor = mydbs.cursor()
#sql = "DROP TABLE data_sql"
try:
    mycursor.execute(sql)

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)