In [ ]:
import mysql.connector
import pandas as pd

#Aqui nos muestra los datos de las tablas (columnas y filas)
mydbs = mysql.connector.connect(user='root', database='dataSQL', password='AlumnaAdalab')
mycursor = mydbs.cursor()

query = ("SELECT * FROM data_sql LIMIT 3")        
mycursor.execute(query)

myresult = mycursor.fetchone() 
while myresult != None:
    print(myresult)

In [ ]:
#Aqui se llama a pandas y se tienen los resultados tipo tabla ordenado
sql = "SELECT * FROM data_sql LIMIT 20"
df_datasql = pd.DataFrame(myresult)
print(df_datasql)

df_datasql.to_csv('ejercicio3.csv',sep=';')

In [ ]:


mydbs = mysql.connector.connect(user='root', database='dataSQL', password='AlumnaAdalab')
mycursor = mydbs.cursor()

sql = "UPDATE data_sql SET Q10_Part_3 = 'NULL' WHERE Q10_Part_3 = 'ERROR'"
try:
    mycursor.execute(sql)
    mydbs.commit()
    print(mycursor.rowcount, "registro/s modificado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

mycursor.execute("SELECT * FROM data_sql")  
results = mycursor.fetchall()
print(results)

df_datasql.to_csv('ejercicio3.csv',sep=';')

In [ ]:

#Aqui se pueden eiminar una tabla NO EJECUTAR QUE SE BORRA TODO, cuidado
def eliminar_tabla():
    mycursor = mydbs.cursor()
    sql = "DROP TABLE data_sql"
    try:
        mycursor.execute(sql)

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [13]:

import mysql.connector
import pandas as pd

def limpiar_datos ():

    mydbs = mysql.connector.connect(user='root', database='dataSQL', password='AlumnaAdalab') 
    mycursor = mydbs.cursor()

    sql = "UPDATE data_sql SET Q10_Part_2 = 'NULL' WHERE Q10_Part_2 = 'ERROR'"
    
    try:
        mycursor.execute(sql)
        mydbs.commit()
        print(mycursor.rowcount, "registro/s modificado/s.")

    except mysql.connector.Error as err:
        print(err)


def save_limpios():

    df_datasql.to_csv('ejercicio3.csv',sep=';') 


def eliminar():

    mycursor = mydbs.cursor()
    sql = "DROP TABLE data_sql"
    try:
        mycursor.execute(sql)

    except mysql.connector.Error as err:
        print(err)

ENSEÃ‘AR EN BRUTO

In [ ]:
import mysql.connector
import pandas as pd

#Aqui nos muestra los datos de las tablas (columnas y filas)
mydbs = mysql.connector.connect(user='root', database='dataSQL', password='AlumnaAdalab')
mycursor = mydbs.cursor()

mycursor.execute("SELECT Q10_Part_4 FROM data_sql")  
results = mycursor.fetchall()
print(results)

funcion limpiar datos

In [20]:
def limpiar_datos ():

    mydbs = mysql.connector.connect(user='root', database='dataSQL', password='AlumnaAdalab') 
    mycursor = mydbs.cursor()

    sql = "UPDATE data_sql SET Q10_Part_4 = 'NULL' WHERE Q10_Part_4 = 'ERROR'"
    try:
        mycursor.execute(sql)
        mydbs.commit()
        print(mycursor.rowcount, "registro/s modificado/s.")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
    
    save_limpios

esta es la que funciona

In [24]:
mydbs = mysql.connector.connect(user='root', database='dataSQL', password='AlumnaAdalab')
mycursor = mydbs.cursor()

sql = "UPDATE data_sql SET Q10_Part_5 = 'NULL' WHERE Q10_Part_5 = 'ERROR'"
try:
    mycursor.execute(sql)
    mydbs.commit()
    print(mycursor.rowcount, "registro/s modificado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

df_datasql.to_csv('ejercicio3.csv',sep=';')

24203 registro/s modificado/s.