Aqui nos muestra los datos de las tablas (columnas y filas)

In [ ]:
import mysql.connector
import pandas as pd

mydbs = mysql.connector.connect(user='root', database='dataSQL', password='AlumnaAdalab')
mycursor = mydbs.cursor()

query = ("SELECT * FROM data_sql LIMIT 3")        
mycursor.execute(query)

myresult = mycursor.fetchone() 
while myresult != None:
    print(myresult)

Aqui se modifican datos de una columna

In [ ]:

mydbs = mysql.connector.connect(user='root', database='dataSQL', password='AlumnaAdalab')
mycursor = mydbs.cursor()

sql = "UPDATE data_sql SET Q10_Part_3 = 'NULL' WHERE Q10_Part_3 = 'ERROR'"
try:
    mycursor.execute(sql)
    mydbs.commit()
    print(mycursor.rowcount, "registro/s modificado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

mycursor.execute("SELECT * FROM data_sql")  
results = mycursor.fetchall()
print(results)

Aqui se pueden eiminar una tabla NO EJECUTAR QUE SE BORRA TODO, cuidado

In [ ]:

def eliminar_tabla():
    mycursor = mydbs.cursor()
    sql = "DROP TABLE data_sql"
    try:
        mycursor.execute(sql)

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

---------------------------------------------------------------------------------------------------------------------------------------

FUNCIONES

In [13]:

import mysql.connector
import pandas as pd

def limpiar_datos ():
    columnas_limpiar = ["Q10_Part_1", "Q10_Part_2","Q10_Part_3",
    "Q10_Part_4","Q10_Part_5","Q10_Part_6",
    "Q10_Part_7","Q10_Part_8","Q10_Part_9",
    "Q10_Part_10","Q10_Part_11","Q10_Part_12",
    "Q10_Part_13","Q10_Part_14","Q10_Part_15","Q10_Part_16","Q10_OTHER"]

    mydbs = mysql.connector.connect(user='root', database='dataSQL', password='AlumnaAdalab') 
    mycursor = mydbs.cursor()

    for values in columnas_limpiar:

        try:
            sql = ("UPDATE data_sql" + "SET" + str(values) +" = NULL" + "WHERE" +str(values) +"=  'ERROR'")
            mycursor.execute(sql)
            mydbs.commit()
            print(mycursor.rowcount, "registro/s modificado/s.")

        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)

def guardar_datos():

    mydbs = mysql.connector.connect(user='root', database='dataSQL', password='AlumnaAdalab') 
    mycursor = mydbs.cursor()

    sql = "SELECT * FROM data_sql LIMIT 20"
    df_datasql = pd.DataFrame(myresult)
    print(df_datasql)

    #guarda los archivos en excel
    df_datasql.to_csv('archivos_limpios.csv',sep=';') 


def eliminar_datos():

    mydbs = mysql.connector.connect(user='root', database='dataSQL', password='AlumnaAdalab') 
    mycursor = mydbs.cursor()

    sql = "DELETE FROM data_sql WHERE Q10_Part_3 = 'ERROR'"
    try:
        mycursor.execute(sql)
        mydbs.commit()
        print(mycursor.rowcount, "registro/s eliminado/s")

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

def eliminar_tabla():

    mydbs = mysql.connector.connect(user='root', database='dataSQL', password='AlumnaAdalab') 
    mycursor = mydbs.cursor()

    sql = "DROP TABLE data_sql"
    try:
        mycursor.execute(sql)

    except mysql.connector.Error as err:
        print(err)